<div class="jumbotron">
	<div class="container">
  		<h1>Check if your question elicits a BGF or not.</h1> 

  		<h3>It probably does...</h3>

  		<p><a class="btn btn-primary btn-lg"</a></p>

		<%= render 'form' %>

		<%= link_to 'Back', questions_path %>
	</div>
</div>